@media (max-width: 991.98px) {
	#admin:has(nav.sidebar)
	{
	    padding-left: 1rem;
	    padding-right: 1rem;
	    >footer{
	        left: 0px;
	        width: 100%;
	    }
	    .navbar > ul.left-nav{
	        margin-left: 2rem;
	        transition: 1s;
	    }
	}
	#admin:has(nav.sidebar.close)
	{
	    padding-left: 1rem;
	    padding-right: 1rem;
	    >footer{
	        left: 0px;
	        width: 100%;
	    }
	    .navbar > ul.left-nav{
	        margin-left: 2rem;
	        transition: 1s;
	    }
	}
}